body {
    position: absolute !important;
    width: 100% !important;
    display: unset !important;
    flex-direction: unset !important;
    margin: 0;
}

#app-container {
    background-color: rgb(30, 28, 28);
    width: 100%;
    height: 100vh;
    position: absolute;
}

#sides-container {
    position: relative;
    width: 1200px;
    margin: auto;
    height: 100vh;
    background-color:rgb(61, 14, 14);
    color: white;
}

#left-hand-side-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 600px;
    height: 100vh;
}

#right-hand-side-container {
    position: absolute;
    left: 600px;
    top: 0;
    height: 100vh;
    width: 600px;
}

.list-container::-webkit-scrollbar {
    display: none;
}

.list-container {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100%;
    overflow: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}

.list-container.search-active {
    top: 30px;
    height: calc(100vh - 30px);
}

ul {
    margin: 0;
    padding: 5px;
}

li {
    background-color:rgb(148, 76, 123);
    height: 100px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;
}

li.selected {
    background-color: rgb(167, 92, 138);
}

.mask {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
    width: 100%;
    height: 100vh;
}

.mask-active-search {
    z-index: 1004;
}

#active-search-input-container {
    z-index: 1005;
    position: relative;
}

#active-search-list {
    z-index: 1005;
    position: relative;
}

#modal-container {
    width: 600px;
    height: 100vh;
    position: relative;
    margin: auto;
}

#modal-container > textarea {
    background-color: green;
    height: 100vh;
    width: 600px;
}
